@charset "utf-8";
/* ===============================
pc style
=============================== */
.pc {
  display: block;
}

.sp {
  display: none;
}
/* ===============================
sp style
=============================== */
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  /* ===============================
    section ~~~~~
    =============================== */
}
